.form-error {
  position: absolute;
  top: -34px;
  left: 60px;
}
.form-error2 {
  position: absolute;
  top: -1px;
  left: 130px;
}
.form-error3 {
  position: absolute;
  top: -1px;
  left: 167px;
}
.form-error-password {
  position: absolute;
  top: -34px;
  left: 85px;
}
