.intro-section {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-size: 75px;
}

.navbar-toggler {
    border: none !important;
}