.intro-section {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-title {
  // font-size: 75px;
  font-size: 4.4vw;
  @media (max-width: 600px) {
    font-size: 9vw;
  }
}

.navbar-toggler {
  border: none !important;
}
.custom-shadow {
  filter: drop-shadow(2px 2px 8px #00000090);
}
